.markdown-source-view .HyperMD-header-1 span {
        color: #E8A13E !important;
}
.markdown-source-view .HyperMD-header-2 span {
        color: #DCB34E !important;
}
.markdown-source-view .HyperMD-header-3 span {
        color: #BDBB63 !important;
}
.markdown-source-view .HyperMD-header-4 span {
	color: #9DC377 !important;
}
.markdown-source-view .HyperMD-header-5 span {
	color: #7DCB8B !important;
}
.markdown-source-view .HyperMD-header-6 span {
	color: #5DD39F !important;
}
.inline-title {
	color: #E8812C !important;
}
